.slds-box-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.input-cursor {
    display: inline-block;
    width: 2px;
    height: 32px;
    background-color: black;
    animation: blink .6s linear infinite alternate;
}